<div class="container row pl35">
	<div class="col-md-12 col-sm-12 col-xs-12 mb10">
		<h2 class="text-center">{{ $root.genericText.salute }}</h2>
	</div>

	<!-- Widgets -->
	<div class="row pl35">
		<div class="col-md-4 col-sm-12 col-xs-12 mb20">
			<widget-blog-post></widget-blog-post>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 mb20">
			<widget-statistics></widget-statistics>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 mb20">
			<widget-contact-form></widget-contact-form>
		</div>
	</div>

	<div class="row pl35">
		<div class="col-md-4 col-sm-4 col-xs-4">
			<widget-profile></widget-profile>
		</div>
	</div>
	<!-- End Widgets -->

</div>


