<footer>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p>
				&copy; {{ $root.footerText.name }} - {{ $root.footerText.author }} - {{ $root.footerText.date }}
			</p>
		</div>
	</div>
</footer>