<header>
	<div class="row">
		<div class="col-md-8 col-sm-10 col-xs-8">
			<div class="col-md-3 pl40 pt5">
				<img src="./assets/images/burgandy_selected.png" class="logotypo">
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 pl40 pt0">
				<h2>{{ $root.headerText.title }}</h2>
			</div>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-4 pull-right">
			<language-selector current-language="$root.currentLanguage" ></language-selector>
		</div>
	</div>
</header>