footer {
  margin-top: 35px;
  position: relative;
  bottom: 0;
  padding: 10px 30px;
  background-color: @headerBackground;
  width: 100%;
  margin-left: 15px;

	p{
		color: white;
		text-align: center;
		font-style: italic;
		width: 100%;
	}
}