body, html {
	position: relative;
	margin: 0;
	padding: 0;
  height: 100%;
  background-color: #97C6D4;
  color: #fff;
  //font-family: 'Gochi Hand', cursive;
  font: 10pt normal Arial, sans-serif;
}
.inline-error{
	color: #CA274D;
	font-style: italic;
}