header{
	position: relative;
	top: 0;
	left: 0;
	border: 1px solid @headerBackground;
	margin: 0;
	background: @headerBackground;
	padding: 0;

	.logotypo{
		width: 50px;
		height: 50px;
	}

	@media screen and (min-width : 992px) {
	  header {
	    height: 300px;
	  }
	}
	@media only screen and (min-width : 480px) {
		header{
			height: 350px;
		}
  }
  @media only screen and (min-width : 768px) {
		header{
			height: 420px;
		}
  }

	h2{
		color : @headerTitle;
	}

	.lgs-container{
		float: right;
		position: relative;
		top: 20px;
		right: 30px;

		div{
			float: left;
		}

		.icon-language{
				padding: 3px 5px 3px 5px;
			  background-color: @headerLanguages;
			  border: @headerLanguages;
			  position: relative;
			  top: -3px;
			  left: 3px;
			  border-radius: 3px;

				span{
				  font-size: 21px;
				}

			}
			.selector-language{

			}
			.language-item{
				border: 1px solid @headerLanguages;
			}

	}



}