.generate-width-by-px(200);
.generate-height-by-px(200);

.generate-width-by-pencentage(100);
.generate-height-by-pencentage(100);

.generate-margin(20);
.generate-margin-top(50);
.generate-margin-left(50);
.generate-margin-bottom(50);
.generate-margin-right(50);

.generate-padding(20);
.generate-padding-top(50);
.generate-padding-left(50);
.generate-padding-bottom(50);
.generate-padding-right(50);

.generate-width-by-px(@limit, @index: 1) when (@index =< @limit) {
  @value : @index * 5;
  .w@{value} {
    width: unit(@value, px);
  }
  .generate-width-by-px(@limit, (@index + 1));
};

.generate-height-by-px(@limit, @index: 1) when (@index =< @limit) {
  @value : @index * 5;
  .h@{value} {
    height: unit(@value, px);
  }
  .generate-height-by-px(@limit, (@index + 1));
};

.generate-width-by-pencentage(@limit, @index: 1) when (@index =< @limit) {
  @value : @index * 5;
  .wp@{value} {
    width: unit(@value, %);
  }
  .generate-width-by-pencentage(@limit, (@index + 1));
};

.generate-height-by-pencentage(@limit, @index: 1) when (@index =< @limit) {
  @value : @index * 5;
  .hp@{value} {
    height: unit(@value, %);
  }
  .generate-height-by-pencentage(@limit, (@index + 1));
};

//Margin loop Generate
.generate-margin(@limit, @index: 1) when (@index =< @limit) {
  @value : @index;
  .m@{value} {
    margin: unit(@value, px) !important;
  }
  .generate-margin(@limit, (@index + 1));
};

.generate-margin-top(@limit, @index: 1) when (@index =< @limit) {
  @value : @index;
  .mt@{value} {
    margin-top: unit(@value, px);
  }
  .generate-margin-top(@limit, (@index + 1));
};

.generate-margin-left(@limit, @index: 1) when (@index =< @limit) {
  @value : @index;
  .ml@{value} {
    margin-left: unit(@value, px);
  }
  .generate-margin-left(@limit, (@index + 1));
};

.generate-margin-bottom(@limit, @index: 1) when (@index =< @limit) {
  @value : @index;
  .mb@{value} {
    margin-bottom: unit(@value, px);
  }
  .generate-margin-bottom(@limit, (@index + 1));
};

.generate-margin-right(@limit, @index: 1) when (@index =< @limit) {
  @value : @index;
  .mr@{value} {
    margin-right: unit(@value, px);
  }
  .generate-margin-right(@limit, (@index + 1));
};

//Padding loop Generate
.generate-padding(@limit, @index: 1) when (@index =< @limit) {
  @value : @index;
  .p@{value} {
    padding: unit(@value, px);
  }
  .generate-padding(@limit, (@index + 1));
};

.generate-padding-top(@limit, @index: 1) when (@index =< @limit) {
  @value : @index;
  .pt@{value} {
    padding-top: unit(@value, px);
  }
  .generate-padding-top(@limit, (@index + 1));
};

.generate-padding-left(@limit, @index: 1) when (@index =< @limit) {
  @value : @index;
  .pl@{value} {
    padding-left: unit(@value, px);
  }
  .generate-padding-left(@limit, (@index + 1));
};

.generate-padding-bottom(@limit, @index: 1) when (@index =< @limit) {
  @value : @index;
  .pb@{value} {
    padding-bottom: unit(@value, px);
  }
  .generate-padding-bottom(@limit, (@index + 1));
};

.generate-padding-right(@limit, @index: 1) when (@index =< @limit) {
  @value : @index;
  .pr@{value} {
    padding-right: unit(@value, px);
  }
  .generate-padding-right(@limit, (@index + 1));
};