.widget-container{
	background: @defaultWidget;
	border: 1px solid @defaultWidget;
	border-radius: @defaultBorder;
	overflow: hidden;
	min-width: 250px;
	max-width: 350px;
	min-heigth: 300px;
	max-heigth: 380px;

	.img-responsive{
		width: 100%;
	}

	.blog-post-body{
		padding: 5px 5px 15px 8px;

		.blog-post-image{
			.img-circle{
				border: 1px solid #C1C1C1;
				padding: 5px;
			}
		}
		.blog-post-content{

			h3{
				color: #5c5146;
			}
			p{
				color: #8e8071;
			}
		}

	}

	.blog-post-footer{
		color: #b1a599;
		font-size: 18px;
		width: 100%;
		margin: 0;

		.blog-post-indicators{
			background: #f6f1ed;
			text-align: center;
			padding: 10px;
			border-right: 1px solid #fff;
		}
		.highlight{
			color: #FF6342;
		}
	}

	.profile-header{
		background: #b1a599;
		padding: 10px;

		.header-image{

			.img-circle{
				border: 1px solid #7F7F7F;
				padding: 5px;
			}
		}

		.header-content{
			margin-left: 10px;
			margin-top: -14px;

			.header-title{
				color: #FFFFFF;
			}
			.followers-title{
				color: #8e8071;
			}
		}
	}

	.profile-body{
		color: #8e8071;
		padding: 0;

		.btn-group-vertical{

			.btn-group{

				.separator::before {
			    content: ' ';
				  display: block;
				  float: left;
				  background: green;
				  margin: -17px -20px;
				  height: 44px;
				  width: 2px;
				  top: 0;
				  display: block;
				}

				button{
					background: #FFF;
					color: inherit;
					border: none;
					padding: 10px 17px 10px 20px;

					.fa-user{
						color: #c6bfb8;
						margin-right: 3px;
					}
					.fa-bar-chart-o{
						color: #c6bfb8;
						margin-right: 0;
					}
					.fa-wrench{
						color: #c6bfb8;
						margin-right: 1px;
					}
					.fa-map-marker{
						color: #c6bfb8;
						margin-right: 4px;
					}
				}

				:hover{
					background: #f8f3f0;
				}
			}
		}

	}

	.contact-form-body{
		font-size: 16px;
		color: #928C86;
		padding: 30px 30px 15px 30px;
		.contact-form-content{
			label{
				font-weight: normal !important;
			}
		}
	}

	.contact-form-footer{
		font-size: 16px;
		font-weight: normal !important;
		background: #f8f3f0;
		padding: 18px 30px 18px 30px;

		.contac-form-save{
			color: #928C86;
			margin-top: 10px;
		}
	}

}