<div class="lgs-container" ng-init="getLanguageList()">

	<div class="object icon-language">
		<span class="fa fa-language"></span>
	</div>

	<div class="selector-language">
		<select name="currentLanguage" ng-model="currentLanguage" class="language-item btn btn-info">
			<option ng-repeat="lang in languages" value="{{lang.value}}" ng-if="(lang.value == currentLanguage)? 'selected' : true ">{{ lang.name }}</option>
		</select>
	</div>

</div>