<div class="widget-container">

	<div class="blog-post-header row">

		<div class="header-image">
			<img ng-src="{{ widgetData.bannerImage }}" class="img-responsive">
		</div>

	</div>

	<div class="blog-post-body row">

		<div class="blog-post-image col-xs-4">
			<img ng-src="{{ widgetData.profileImage }}" class="img-circle img-responsive mt25 ml10">
		</div>
		<div class="blog-post-content col-xs-8">
			<h3>{{ widgetData.name }}</h3>
			<p>{{ widgetData.description }}</p>
		</div>

	</div>

	<div class="blog-post-footer row">

		<div class="blog-post-indicators col-sm-4">
			<span class="fa fa-eye"></span>
			<span>
				<animate-number initial-value="{{ (widgetData.visualisations/2) }}" end-value="{{ widgetData.visualisations }}"  decimal-places="0"></animate-number>
			</span>
		</div>
		<div class="blog-post-indicators col-sm-4">
			<span class="fa fa-comment"></span>
			<span>
				<animate-number initial-value="{{ (widgetData.comments/2) }}" end-value="{{ widgetData.comments }}"  decimal-places="0"></animate-number>
			</span>
		</div>
		<div class="blog-post-indicators col-sm-4">
			<span class="fa fa-heart highlight"></span>
			<span class="highlight">
				<animate-number initial-value="{{ (widgetData.likes/2) }}" end-value="{{ widgetData.likes }}"  decimal-places="0"></animate-number>
			</span>
		</div>

	</div>

</div>