<script type="text/ng-template" id="inputTagsTemplate">
  <span>{{ $getDisplayText() }}</span>
  <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
</script>

<div class="widget-container">

	<div class="row contact-form-body">

		<div class="contact-form-content col-md-12">
			<form name="contactForm" novalidate>
				<div class="form-group">
					<label>{{ widgetData.fields.contact.label }}</label>
					<tags-input class="tagsInputsStyles"
                ng-model="emails"
                template = "inputTagsTemplate"
                allowed-tags-pattern="^[\w-\-+.]{3,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}$"
                placeholder="{{ widgetData.fields.contact.subLabel }}">
			    </tags-input>
			    <inline-error errors="errors.email" ng-show="errors.email"></inline-error>
				</div>
				<div class="form-group">
					<label>{{ widgetData.fields.subject.label }}</label>
					<input type="text" name="subject" ng-model="contactForm.subjectValue" placeholder="{{widgetData.fields.subject.subLabel}}" class="form-control" required ng-change="resetError('subject')">
					<inline-error errors="errors.subject" ng-show="errors.subject"></inline-error>
				</div>
				<div class="form-group">
					<label>{{ widgetData.fields.message.label }}</label>
					<textarea class="form-control" name="message" ng-model="contactForm.messageValue" rows="5" placeholder="{{ widgetData.fields.message.subLabel }}" required ng-change="resetError('message')"></textarea>
					<inline-error errors="errors.message" ng-show="errors.message"></inline-error>
				</div>
			</form>
		</div>

	</div>

	<div class="row contact-form-footer">

		<div ng-show="showStatusMessage" class="col-md-12 alert alert-{{ notifyStyle }}" role="alert">
			{{ notifyMesage }}
		</div>

		<div ng-show="!showStatusMessage">
			<div class="col-sm-6">
				<div class="contac-form-save pull-left">
					<input type="checkbox" ng-model="saveFormstatus" ng-change="saveStatus()" ng-checked="saveFormstatus">
					<span>{{ widgetData.actions.save }}</span>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="contac-form-option pull-right">
					<button class="btn btn-danger" ng-click="sendEmail()">{{ widgetData.actions.send }}</button>
				</div>
			</div>
		</div>

	</div>

</div>