<div class="widget-container">

	<div class="row profile-header">

		<div class="col-md-4 col-xs-4 header-image">
			<img ng-src="{{ widgetData.profileImage }}" class="img-circle img-responsive mt5 ml20">
		</div>

		<div class="col-md-7 col-xs-6 header-content">
			<h3 class="header-title">{{ widgetData.title }}</h3>
			<div class="followers-title">
				<animate-number initial-value="{{ (widgetData.totalFollowers/2) }}" end-value="{{ widgetData.totalFollowers }}"  decimal-places="3"></animate-number>
				<span class="header-subtitle">{{ widgetData.textFollowers }}</span>
			</div>
		</div>
	</div>

	<div class="row profile-body">

		<div class="btn-group btn-group-vertical col-md-12 col-sm-12 col-xs-12" role="group">

		  <div ng-repeat="profileItem in widgetData.menuItems" class="btn-group" role="group">

		    <button type="button" class="btn btn-default col-md-12 col-sm-12 col-xs-12" ng-mouseenter="highlightToogle(profileItem.icon, true)" ng-mouseleave="highlightToogle(profileItem.icon, false)">
		    	<span class="pull-left">{{ profileItem.name }}</span>
		    	<span class="pull-right fa fa-{{ profileItem.icon }}"></span>
		    </button>

		  </div>
		</div>

	</div>

</div>