<!-- {{ $root.widgetBlogPostText | json }} -->
<div class="widget-container">

	<div class="statistics-body">

		<ul class="nav nav-tabs nav-justified">
			<li ng-repeat="tab in widgetData.tabs" role="presentation" ng-class="({{tab.tabReference}})? 'active' : ''">
				<a href="#" ng-click="showTab(tab.tabReference)">{{tab.tabName}}</a>
			</li>
		</ul>

		<div ng-show="showDiagramStats">
			<div class="row mt10">
				<div  class="col-md-12">
					<highchart config="DTchartConfig" id="chart-container"></highchart>
					<div id="addText" style="position:absolute; left:0px; top:0px;"></div>
				</div>
			</div>
		</div>
		<div ng-show="showMonthlyReport">
			<div class="row mt10">
				<div  class="col-md-12">
					<highchart config="MDTconfig"></highchart>
				</div>
			</div>
		</div>

	</div>

</div>